<h1>Admin::Dashboard#index</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>

<%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "rounded-md bg-slate-600 px-3 py-1 text-white shadow-sm hover:bg-slate-700" %>
