$body-font-family: "Source Sans 3", sans-serif;
$heading-font-family: "Source Serif 4", serif;
$mono-font-family: "Source Code Pro", monospace;

$link-color: #3563E3;
// $sidebar-color: #0D0F39;
// $body-heading-color: #F6C75B;
// $nav-child-link-color: #FFFFFF;
