<div class="flex min-h-0 w-48 flex-col gap-2 overflow-auto">
  <div class="relative flex w-full min-w-0 flex-col p-4">
    <div class="flex h-8 text-xs font-medium"></div>

    <ul class="flex w-full min-w-0 flex-col gap-1">
      <!-- Home Menu Item -->
      <li class="relative">
        <%= link_to admin_dashboard_index_path, class: "flex items-center text-sm font-medium text-gray-900 rounded-md hover:bg-gray-100 px-3 py-2" do %>
          <i class="fa-solid fa-house text-slate-300 mr-2"></i>
          <span>Home</span>
        <% end %>
      </li>

      <!-- Settings Menu Item -->
      <li class="relative">
        <%= link_to admin_settings_path, class: "flex items-center text-sm font-medium text-gray-900 rounded-md hover:bg-gray-100 px-3 py-2" do %>
          <i class="fa-solid fa-gear text-slate-300 mr-2"></i>
          <span>Settings</span>
        <% end %>
      </li>

      <!-- Users Menu Item -->
      <li class="relative">
        <%= link_to admin_users_path, class: "flex items-center text-sm font-medium text-gray-900 rounded-md hover:bg-gray-100 px-3 py-2" do %>
          <i class="fa-solid fa-users text-slate-300 mr-2"></i>
          <span>Users</span>
        <% end %>
      </li>

      <!-- Callbacks Menu Item -->
      <li class="relative">
        <%= link_to admin_callbacks_path, class: "flex items-center text-sm font-medium text-gray-900 rounded-md hover:bg-gray-100 px-3 py-2" do %>
          <i class="fa-solid fa-phone text-slate-300 mr-2"></i>
          <span>Callbacks</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
