<div class="flex min-h-0 w-48 flex-col gap-2 overflow-auto">
  <div class="relative flex w-full min-w-0 flex-col p-4">
    <div class="flex h-8 text-xs font-medium"></div>

    <ul class="flex w-full min-w-0 flex-col gap-1">
      <!-- Home Menu Item -->
      <li class="relative">
        <i class="fa-solid fa-house text-slate-300"></i><%= link_to admin_dashboard_index_path do %>
          <span>Home</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>