<% content_for :head do %>
  <%= vite_typescript_tag 'home.tsx' %>
<% end %>
<%= link_to "Sign in", new_user_session_path, class: "rounded-md bg-slate-600 px-3 py-1 text-white shadow-sm hover:bg-slate-700" %>
<div id="root"></div>
